.col {
    display: inline-block;
}

@media only screen and (max-width: 450px) {
    .big-set {
        display: none!important;
    }
    .medium-set {
        display: none!important;
    }
    .small-set {
        display: inline-block!important;
    }
}

@media only screen and (max-width: 490px) and (min-width: 450px) {
    .big-set {
        display: none!important;
    }
    .medium-set {
        display: inline-block!important;
    }
    .small-set {
        display: none!important;
    }
}

@media only screen and (min-width: 491px) {
    .big-set {
        display: inline-block!important;
    }
    .medium-set {
        display: none!important;
    }
    .small-set {
        display: none!important;
    }
}

.mt-md {
    margin-top: 5px!important;
}

.peach {
    --theme-color: #F32654;
    --border-color: #C1272F;
    --button-color: #323594;
    --text-color: black;
    --bg: linear-gradient(to right, #25BFB6, #42E695);
    --form: black;
    --smdb: transparent;
    background: var(--bg);
    padding: 10px;
    --mb: #000000;
}

.peachmain {
    --mb: white;
    background: var(--mb);
}

.peach > * {
    color: black!important;
}

.ac {
    background-color: black;
}

.col-25p {
    width: 25%;
    display: inline-block;
}

.dash {
    width: 40%;
    background-color: var(--border-color);
    height: 2px;
    display: inline-block;
}

button.theme, a.theme {
    background: var(--button-color);
    margin-left: 0px;
    border-radius: 10px;
    display: inline-block;
    width: 99px
}

.theme-last {
    background: var(--theme-color);
}

.text-bg {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--theme-color);
}

a:hover {
    color: var(--theme-color);
}

p {
    color: var(--text-color)
}

.res-img {
    display: inline-block; 
    width: 48%; 
    height: auto
}

@media only screen and (max-width: 350px) {
    .res-img {
        width: 100%!important;
        height: auto;
        max-width: 300px;
    }
}

.smd {
    text-align: right;
    padding: 3px;
    background: var(--smdb);
    margin-bottom: 15px;
    margin-top: 10px;
}

svg, i {
    color: var(--text-color)
}

a > svg, i {
    color: white
}

.top-left {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 7px solid var(--border-color);
    border-left: 7px solid var(--border-color);
}

.top-right {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    right: 0;
    top: 0;
    border-top: 7px solid var(--border-color);
    border-right: 7px solid var(--border-color);
}

.bottom-right {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 7px solid var(--border-color);
    border-right: 7px solid var(--border-color);
}

.bottom-left {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 7px solid var(--border-color);
    border-left: 7px solid var(--border-color);
}

.tl:hover {
    text-decoration: underline!important;
}
